.logo
{
    width:40px;
    margin-top:-12px;
}
body{ font-family: 'ProximaNovaLtLight';}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.navbar-fixed-top.scrolled {
  background-color: #ffffff !important;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: background-color 200ms linear;
}
.navbar-fixed-top
{
    padding:5px 0px;
    background-color:transparent !important;
    border:none !important;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
   
   
}
.dropdown-menu
{
    border:none !important;
    position: relative;
    min-width: 600px !important;
    width:100%;
}
#pro
{
    border-right:1px solid #f6f6f6;
}
 ul#pro {
 list-style-type:circle;
    
 }
ul#pro a
{
    padding:15px 0px; 
}
ul#pro li:first-child
{
    margin-top:10px !important;
}
ul#pro li
{text-align:left;
    padding:10px!important;
}
ul#pro li p
{
    font-size:13px;
    line-height:14px;
    font-family: 'ProximaNovaSemibold';
    color:#6d81a1;
}
ul#pro li:hover
{
border-radius:6px;
    background-color:#e5e5e5 !important;
 text-decoration:none !important;  
  
    
}
ul#pro li a:hover{
    text-decoration:none !important;
}
ul#pro h5
{
   font-family: 'ProximaNovaSemibold';
    letter-spacing:0.5px;
    color:#3482D1;
    text-transform: uppercase;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
    
}
.navbar-brand span
{
     font-family: 'ProximaNovaBold';
   font-size:22px;
    color:#000000;
    
}
.products h4
{
      font-family: 'ProximaNovaSemibold';
    text-align: center;
    font-size:25px;
}
.products p
{
   text-align: center; 
}
#myTopnav
{
float:right;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
    font-weight:500;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}



.topnav .icon {

}
.navbar-nav>li a
{
    color:#000000 !important;
        font-family: 'ProximaNovaSemibold';
     font-size:16.5px;
    line-height:23px;
    font-weight:500;
}
 .navbar-nav>li a:hover
{
    color:#000000!important;
      font-family: 'ProximaNovaSemibold';
    background-color: transparent !important;
}
#borderimg1 { 
  border: 10px solid transparent;
  padding: 15px;
   border-image: url(../images/border.png) 20% round;
}
#borderimg2 { 
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/border.png) 30 stretch; /* Safari 3.1-5 */
  -o-border-image: url(../images/border.png) 40 stretch; /* Opera 11-12.1 */
  border-image: url(../images/border.png) 30 stretch;
}
.buttonsign {
  background-color: #25c16f;
  border: none;
  color: white;
    border-radius:3px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 4px;
  cursor: pointer;
 font-family: 'ProximaNovaSemibold';
}
.buttonexplore {
  background-color: #25c16f;
  border: none;
  color: white;
  padding: 8px 20px;
     border-radius:3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 6px 4px;
  cursor: pointer;
 font-family: 'ProximaNovaSemibold';
}
.main
{
    min-height:100vh;
   
       background: -webkit-linear-gradient(top, #EAF9F2 0%,#EDFAF3 50%,#ffffff 100%);
    background: linear-gradient(to bottom, #EAF9F2 0%,#EDFAF3 50%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77bfff', endColorstr='#ffffff',GradientType=0 );
}
.content
{
 padding-top:150px; 
}
.content h1 {
    font-family: 'ProximaNovaBold';
    color: #000000;
    font-size:40px;
    text-align:center;
    padding-top:50px;
    font-weight:400;
        line-height:60px;
}
.content h2 {
     font-family: 'ProximaNovaSemibold';
    color: #000000;
    font-size:20px;
    padding:15px;
    text-align:center;
    margin:0 auto;
    font-weight:400;
        line-height:32px;

}

.products h1,.work h1
{
   font-family: 'ProximaNovaBold';
    color: #000000;
    font-size:40px;
    text-align:center; 
     font-weight:400;
        line-height:32px;
}
.products h3,.work h3
{
    font-family: 'ProximaNovaRgRegular';
    color: #000000;
    font-size:20px;
    text-align:center; 
     font-weight:400;
        line-height:30px;
}
.border h4
{
   font-family: 'ProximaNovaSemibold'; 
    color: #000000;
     font-size:20px;
    text-align:center;
}
.products p
{
   font-family: 'ProximaNovaRgRegular';
    font-size:16px;
}
.down
{
    padding-top:70px;
}
.work
{
    padding-top:200px;
}
.container1
{
    margin:0% 10%;
}
.parent:hover,.parent1:hover{
    border-bottom-color:black;
}
.child:hover,.child1:hover{
    border-bottom-color:black;
}

.child1
{
   position: relative;
    display: inline-block;
    padding: 20px 10px;
    font-size: 14px;
    width:50%;
    text-align: center;
    margin-left:-3.5px;
    border-top: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;
    background-color:#ffffff;
     font-family: 'ProximaNovaSemibold';
}
.parent1
{
   position: relative;
    display: inline-block;
    padding: 20px 10px;
    font-size: 14px;
     width:40%;
    text-align: center;
    border: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;  
    background-color:#ffffff;
     font-family: 'ProximaNovaSemibold';
}
.child
{
   position: relative;
    display: inline-block;
     padding: 20px 10px;
    font-size: 14px;
    width:50%;
     margin-left:-3.5px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;
    background-color:#ffffff;
     font-family: 'ProximaNovaSemibold';
}
.parent
{
   position: relative;
    display: inline-block;
    padding: 20px 10px;
    font-size: 14px;
     width:40%;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;  
    background-color:#ffffff;
     font-family: 'ProximaNovaSemibold';
}

.parent span
{
    padding:5px;
}
.child span
{
    padding:5px;
}
.map
{
    max-width:100%;
}
footer { width:100%; background-color:#263238;color:#cccccc; min-height:250px;padding-bottom: 30px; margin-top:100px;padding:10px 0px 25px 0px ;}
footer h3
{
         font-family: 'ProximaNovaSemibold';
    
}
footer ul
{
    list-style: none;
    overflow: hidden;
    padding: 0;
}
footer p
{
  font-family: 'ProximaNovaRgRegular';
    text-align: center;
    font-size:16px;
    letter-spacing: 0.6px;
}
footer ul>li a 
{
    text-decoration: none !important;
    font-size: 15px;
    padding: 5px 0;
    line-height: 20px;
    display: inline-block;
    color:#cccccc;
    font-family: 'ProximaNovaRgRegular';
}

footer ul li a:hover{
        color:#cccccc;

}
@media screen and (max-width: 740px) and (min-width : 450px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
    .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    .fa-bars
    {
    float:right;
    font-size:20px;
        margin:20px;
    }
    .navbar-brand {
    
    height: 10px; 
    padding: 15px 15px;
    font-size: 18px;
    /* line-height: 20px; */
}
    .navbar-default
    {
        height:10px !important;
    }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
    #myTopnav {
    padding-left:0px !important; 
}
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media (max-width: 768px)
{
#myTopnav
{
    padding-left:0px;
}
    .fa-bars
    {
    float:right;
    font-size:20px;
        margin:20px;
    }
    .content h1 {
    font-family: 'ProximaNovaBold';
    color: #000000;
    font-size:30px;
    text-align:center;
    padding-top:50px;
    font-weight:400;
        line-height:48px;
}
    #borderimg1 { 
  border:none;
}
.work
{
    padding-top:100px;
}
.content h2 {
     font-family: 'ProximaNovaSemibold';
    color: #000000;
    font-size:20px;
    text-align:center;
    font-weight:400;
        line-height:32px;

}
    .products
{
 margin-top:80px;   
}
}
@media (max-width: 425px)
{

     .content h1 {
    font-family: 'ProximaNovaBold';
    color: #000000;
    font-size:30px;
    text-align:center;
    padding-top:50px;
    font-weight:400;
        line-height:48px;
}
.content h2 {
     font-family: 'ProximaNovaSemibold';
    color: #000000;
    font-size:18px;
    text-align:center;
    font-weight:400;
        line-height:32px;

}
    .content {
    padding-top: 40px; 
}
}
