.logo
{
    width:40px;
    margin-top:-12px;
}
body{ font-family: 'ProximaNovaLtLight';}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
     padding-right:0px !important;
    padding-left: 0px !important;
}
.navbar-fixed-top.scrolled {
  background-color: #ffffff !important;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: background-color 200ms linear;
}
.navbar-fixed-top
{
    padding:5px 0px;
    background-color:transparent !important;
    border:none !important;
    z-index:10 !important;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
   
   
}
.dropdown-menu
{
    border:none !important;
    position: relative;
    border-radius:4px !important;  
    min-width: 700px !important;
    width:100%;
}
#pro
{
    border-right:1px solid #f6f6f6;
}
 ul#pro, ul#pro1 {
 list-style-type: none;
 }
ul#pro a, ul#pro1 a
{
    padding:10px -5px; 
    
}
ul#pro li:first-child, ul#pro1 li:first-child
{
    margin-top:10px !important;
}
ul#pro li
{text-align:left;
    padding:15px!important;
    margin: 5px 30px 5px 10px;
}
ul#pro1 li
{text-align:left;
    padding:15px!important;
    margin: 5px 40px 5px -10px;
}
ul#pro li p, ul#pro1 li p
{
    font-size:14px;
    line-height:14px;
    font-family: 'ProximaNovaSemibold';
    color:#6d81a1;
}

ul#pro li:hover, ul#pro1 li:hover
{
 text-decoration:none !important;  
 background-color:#f5f5f5;
    
}
ul#pro li a:hover, ul#pro1 li a:hover{
    background-color:#f5f5f5;
    text-decoration:none !important;
}
ul#pro h5, ul#pro1 h5
{
   font-family: 'ProximaNovaSemibold';
    letter-spacing:0.5px;
    color:#3482D1;
    font-size:14px;
    text-transform: uppercase;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
    
}
.navbar-brand
{
    margin-top:-5px;
}
.navbar-brand span
{
     font-family: 'ProximaNovaBold';
   font-size:22px;
    color:#000000;
    
}
.products h4
{
      font-family: 'ProximaNovaSemibold';
    text-align: center;
    font-size:25px;
}
.products p
{
 
   text-align: center; 
}
#myTopnav
{
float:left;
padding-left:30px;    
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
    font-weight:500;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}



.topnav .icon {

}
.navbar-nav>li a
{
    color:#000000 !important;
        font-family: 'ProximaNovaSemibold';
     font-size:17px;
    line-height:23px;
    font-weight:400;
}
 .navbar-nav>li a:hover
{
    color:#000000!important;
      font-family: 'ProximaNovaSemibold';
    background-color: transparent !important;
}
#borderimg1 { 
  border: 10px solid transparent;
  padding: 15px;
   border-image: url(../images/border.png) 20% round;
}
#borderimg2 { 
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/border.png) 30 stretch; /* Safari 3.1-5 */
  -o-border-image: url(../images/border.png) 40 stretch; /* Opera 11-12.1 */
  border-image: url(../images/border.png) 30 stretch;
}
.buttonsign {
  
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 4px;
  cursor: pointer;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 font-family: 'ProximaNovaSemibold';
}
.red
{
    background-color: #ff5454; 
}
.green
{
  background-color: #25c16f;  
}
.buttonexplore {
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px 4px;
  cursor: pointer;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
 font-family: 'ProximaNovaSemibold';
}
.blue
{
    background-color: #528ff0;
}
.but {
    border: 0;
    -webkit-transition: .2s;
    transition: .2s;
    box-shadow: 0 3px 13px rgba(0,0,0,0.09), 0 1px 5px 0 rgba(0,0,0,0.14);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 48px;
    height: 50px;
    padding: 0 24px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    color: #ffffff;
     font-family: 'ProximaNovaSemibold';
}
.main
{
    min-height:100vh;
       background: -webkit-linear-gradient(top, #EAF9F2 0%,#EDFAF3 50%,#ffffff 100%);
    background: linear-gradient(to bottom, #EAF9F2 0%,#EDFAF3 50%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77bfff', endColorstr='#ffffff',GradientType=0 );
}
.career
{
  min-height:100vh;
   
       background: -webkit-linear-gradient(top, #f9ece0 0%,#fcf4ed 50%,#ffffff 100%);
    background: linear-gradient(to bottom, #f9ece0 0%,#fcf4ed 50%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77bfff', endColorstr='#ffffff',GradientType=0 );  
}
.pricing
{
   min-height:100vh !important;
       background: -webkit-linear-gradient(top, #bae3ff 0%,#d6eeff 50%,#ffffff 100%);
    background: linear-gradient(to bottom, #bae3ff 0%,#d6eeff 50%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77bfff', endColorstr='#ffffff',GradientType=0 );  
}
.checked {
  color: #EAA91B;
}
.opener
{
    margin:30px 0px !important;
  padding:15px 30px;
    background-color:#ffffff;
    border:1px solid #f1f1f1;
}
.opener h3
{
     text-align: left !important;
     font-family: 'ProximaNovaSemibold';
    font-size:22px !important;
    letter-spacing: 0.5px;
     font-weight:700;
}
.opener p
{
    margin-top:5px;
    text-align: left;
    font-family: 'ProximaNovaSemibold' !important;
    font-size:22px !important;
    letter-spacing: 0.5px;
    font-weight:600;
}
.opener h5
{
    font-family: 'ProximaNovaRgRegular';
    font-size:15px !important;
    line-height: 24px;
}
.opener small
{
     font-family: 'ProximaNovaRgRegular';
    font-size:15px !important;
}

#menu li
{
   font-family: 'ProximaNovaSemibold';
    font-weight:600;
    font-size:18px;
    padding:10px 15px;
}
.career
{
   padding-top:30px;
}
.top
{
    margin-top:100px;
}
.topper
{
  margin-top:40px;  
}
.carding
{
    padding:20px 15px;
    
}
.carding.right
{
        border-right: 2px solid;
    border-image: radial-gradient(rgba(0,0,0,0.08),transparent) .5;
}
.carding.toppit
{
      border-top: 2px solid;
    border-image: radial-gradient(rgba(0,0,0,0.08),transparent) .5;
}
.small
{
    font-size:14px !important;
    color:#ffffff !important;
}
.smallico
{
    max-width:90px;
    margin-top:-15px;
    width:100%;
}
.content
{
 padding-top:80px; 
}
.content h1 {
    font-family: 'ProximaNovaBold';
    color: #000000;
    font-size:40px;
    text-align:center;
    padding-top:50px;
    font-weight:400;
    letter-spacing: 1px;
        line-height:60px;
}
.content h2 {
     font-family: 'ProximaNovaRgRegular';
    color: #000000;
    font-size:18px;
    padding:15px;
    text-align:left;
    margin:0 auto;
    font-weight:400;
        line-height:32px;

}
.services h4
{
   font-family: 'ProximaNovaSemibold';
    color: #000000;
    font-size:22px;
    padding:5px;
    text-align:center;
    margin:0 auto;
    font-weight:600;
    letter-spacing: 0.5px;
        line-height:32px; 
}
.services p
{
  font-family: 'ProximaNovaRgRegular';
    color: #828282;
    font-size:17px;
    text-align:center;
    margin:0 auto;
    font-weight:400;
    letter-spacing: 0.2px;
        line-height:28px;  
}
.card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}
.products h1,.work h1, .services h1
{
   font-family: 'ProximaNovaBold';
    color: #000000;
    font-size:40px;
    text-align:center; 
     font-weight:400;
        line-height:32px;
}
.products h3,.work h3, .services h3
{
    font-family: 'ProximaNovaRgRegular';
    color: #000000;
    font-size:20px;
    text-align:center; 
     font-weight:400;
        line-height:30px;
}
.border h4
{
   font-family: 'ProximaNovaSemibold'; 
    color: #000000;
     font-size:20px;
    text-align:center;
}
.products p
{
   font-family: 'ProximaNovaRgRegular';
    font-size:16px;
    line-height:24px;
}
.down
{
    padding-top:70px;
}
.work
{
    padding-top:200px;
}

.parent:hover,.parent1:hover{
    border-bottom:1px solid #25C16F;
}
.child:hover,.child1:hover{
   border-bottom:1px solid #25C16F;
}
.color
{
    background-color: #ffffff;
}
.child1
{
   position: relative;
    display: inline-block;
    padding: 20px 10px;
    font-size: 16.5px;
    width:45%;
    text-align: center;
    margin-left:-3.5px;
    border-top: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;
     font-family: 'ProximaNovaSemibold';
}
.parent1
{
   position: relative;
    display: inline-block;
    padding: 20px 10px;
    font-size: 16.5px;
     width:45%;
    text-align: center;
    border: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;  
     font-family: 'ProximaNovaSemibold';
}
.child
{
   position: relative;
    display: inline-block;
     padding: 20px 10px;
    font-size: 16.5px;
    width:45%;
     margin-left:-3.5px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;
     font-family: 'ProximaNovaSemibold';
}
.parent
{
   position: relative;
    display: inline-block;
    padding: 20px 10px;
    font-size: 16.5px;
     width:45%;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;  
     font-family: 'ProximaNovaSemibold';
}

.label-warning
{
    margin-top:-5px;
}
.left
{
    margin-left:15px;
}
.parent span
{
    padding:5px;
}
.child span
{
    padding:5px;
}
.map
{
    max-width:100%;
}
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;

}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
footer { width:100%; background-color:#263238;color:#cccccc; min-height:250px;padding-bottom: 30px; margin-top:100px;padding:10px 0px 25px 0px ;}
footer h3
{
         font-family: 'ProximaNovaSemibold';
    
}
footer ul
{
    list-style: none;
    overflow: hidden;
    padding: 0;
}
ul#menu li {
  display:inline;
    padding:0px 10px;
}
footer p
{
  font-family: 'ProximaNovaRgRegular';
    text-align: center;
    font-size:16px;
    letter-spacing: 0.6px;
}
footer ul>li a 
{
    text-decoration: none !important;
    font-size: 15px;
    padding: 5px 0;
    line-height: 20px;
    display: inline-block;
    color:#cccccc;
    font-family: 'ProximaNovaRgRegular';
}

footer ul li a:hover{
        color:#cccccc;

}
@media screen and (max-width: 740px) and (min-width : 450px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
    .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    .fa-bars
    {
    float:right;
    font-size:20px;
        margin:20px;
    }
    .parent, .child, .parent1, .child1
    {
        font-size:14px !important;
    }
    .navbar-brand {
    
    height: 10px; 
    padding: 15px 15px;
    font-size: 18px;
    /* line-height: 20px; */
}
    .navbar-default
    {
        height:10px !important;
    }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
    #myTopnav {
    padding-left:0px !important; 
}
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    .container1
    {
       padding-right: 15px;
    padding-left: 15px;
    margin-right: 5px !important;
    margin-left: 5px !important;  
    }
    .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px !important;
    margin-left: 10px !important;
}
    ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
    .buttonexplore {
    background-color: #25c16f;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 10px 4px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-family: 'ProximaNovaSemibold';
}
     .buttoncareer {
    background-color: #ff5454;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 10px 4px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-family: 'ProximaNovaSemibold';
}
    .left
{
    margin-left:8px;
}
    .child1
{
   position: relative;
    display: inline-block;
    padding: 20px 5px;
    font-size: 14px;
    width:45%;
    text-align: center;
    margin-left:-3.5px;
    border-top: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;
     font-family: 'ProximaNovaSemibold';
}
.parent1
{
   position: relative;
    display: inline-block;
    padding: 20px 5px;
    font-size: 14px;
     width:45%;
    text-align: center;
    border: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;  
     font-family: 'ProximaNovaSemibold';
}
.child
{
   position: relative;
    display: inline-block;
     padding: 20px 5px;
    font-size: 14px;
    width:45%;
     margin-left:-3.5px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;
     font-family: 'ProximaNovaSemibold';
}
.parent
{
   position: relative;
    display: inline-block;
    padding: 20px 5px;
    font-size: 14px;
     width:45%;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    vertical-align: bottom;
    transition: 0.5s ease;
    cursor: pointer;  
     font-family: 'ProximaNovaSemibold';
}
  .work {
    padding-top:20px;
}   
    
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



/*pricing*/
.price
{
    padding:10px 20px;
    margin:5px;
    background-color: #ffffff;
    border:1px solid #f1f1f1;
    cursor:pointer;
}
.med
{
    max-width:200px;
    width:100%;
}
.price:hover{
   border:1px solid #528FF0; 
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.buttonprice {
    border: none;
    color: white;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top:-15px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    cursor: pointer;
    letter-spacing:0.5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-family: 'ProximaNovaSemibold';
}
.down
{
    margin-top:5px;
}
.price h5
{
    font-family: 'ProximaNovaSemibold';
    font-size:26px;
    text-align: center;
}
.price p
{
    font-family: 'ProximaNovaRgRegular';
    font-size:18px;
    color:#8c8c8c;
    padding:10px 5px;
    border-bottom:1px solid #f1f1f1;
    text-align: center;
}
.price p:last-child
{
    border:none;
}
/*modal login css*/
.modal-content {
    position: relative;
    background-color: #fff;
    max-width:900px;
    width:100%;
    margin-top:100px !important;
    padding:5px 25px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px !important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.loginimg
{
    max-width:800px;
    width:100%;
}

.modal-content h3
{
     font-family: 'ProximaNovabold';
    font-size:26px;
    letter-spacing:0.3px;
}
.modal-content p
{
     font-family: 'ProximaNovaRgRegular';
    padding:10px 0px;
    cursor:pointer;
    font-size:16px;
}
.alert-info
{
  font-family: 'ProximaNovaRgRegular'; 
      font-size:15px;
}
/*modal login css*/

/*overlay nav*/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.inline
{
    display:inline;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
 font-family: 'ProximaNovaSemibold';
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
#origin-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    width: 100%;
    text-overflow: ellipsis;
}
#inputel {
    background-color: #f4f4f4;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    width: 100%;
    text-overflow: ellipsis;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.controling {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    outline: none;
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*overlay nav*/
@media (max-width: 770px)
{
#myTopnav
{
    padding-left:0px;
}
    .fa-bars
    {
    float:right;
    font-size:20px;
        margin:20px;
    }
    .content h1 {
    font-family: 'ProximaNovaBold';
    color: #000000;
    font-size:30px;
    text-align:center;
    padding-top:50px;
    font-weight:400;
        line-height:48px;
}
    .navbar-nav
    {
        display:none;
    }
    #borderimg1 { 
  border:none;
}
.work, .services
{
    margin-top:100px !important;
}
    
.content h2 {
     font-family: 'ProximaNovaSemibold';
    color: #000000;
    font-size:20px;
    text-align:center;
    font-weight:400;
        line-height:32px;

}
    .products
{
 margin-top:80px;   
}
}


@media (max-width: 425px)
{

     .content h1 {
    font-family: 'ProximaNovaBold';
    color: #000000;
    font-size:30px;
    text-align:center;
    padding-top:50px;
    font-weight:400;
        line-height:48px;
}
    .modal-content {
    position: relative;
    background-color: #fff;
    width:100%;
    padding:5px 25px;
        margin:0px 10px 0px 5px; 
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px !important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
    .modal-dialog {
    display: block;
   padding-left: -5px !important;
}
.content h2 {
     font-family: 'ProximaNovaSemibold';
    color: #000000;
    font-size:18px;
    text-align:center;
    font-weight:400;
        line-height:32px;

}
    .content {
    padding-top: 40px; 
}
}
