
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.navbar-default{
  transition:500ms ease;
  background-color:#ffffff !important;
  color: #000000!important;
   padding:5px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
   border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}

 .navbar-nav>li a
{
       font-family: 'ProximaNovaRgRegular';
    font-weight:400;
     font-size:18px;
}
.logo
{
 max-width:40px;
    margin-top:-15px;
}